body {
    background-color: white;
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
}

a {
    color: hotpink;
}

#container {
    padding-top: 20px;
	margin-left: 20px;
    height: 100%;
    width: 100%;
    display: inline-block;
}

#linksList {
    height: 100%;
    width: 100%;
}

#missingLink {
    padding-left: 20px;
    padding-top: 20px;
}

ul.siteList {
    font-size: 2em;
    line-height: 1.2em;
}

.siteCategory {
    font-size: 2.2em;
    text-decoration: underline;
}

.listCategoryWrapper {
    height: 100%;
    width: 25%;
    float: left;
    display: inline-block;
     margin-right: 0;
}

@media screen and (max-width: 800px) {
    .listCategoryWrapper {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .listCategoryWrapper {
        width: 100%;
    }
}
